<% if (now_cell_pos > 0) %>
<%   emp_cell_num = (@city_row_cell_num - now_cell_pos) %> 
<%   emp_cell_num.times do %>
       <td class="select-city-no-designated">-</td>
<%   end %>
     </tr>
<% end %>


<%# 1セル目は政令都市名が表示されるため1を引く %>
<% row_cell_num =  (@city_row_cell_num - 1) %> 
<% row_cell_right_end_pos = row_cell_num - 1 %>
<% row_num = (city.sub_cities.count.to_f / row_cell_num.to_f).ceil %>
  
  <tr>
    <td rowspan="<%= row_num %>" class="select-city-designated-city">
      <%= link_to(city.city_name, "#", class: "select-city-btn") %>
    </td>
      
<%  city.sub_cities.each_with_index do |sub_city, loop|                       %>
<%    if (((loop % row_cell_num) == 0) && (loop != 0))                        %>
        <tr>
<%    end %>

<%#   ----------------------------------------------------------------------- %>
<%    if ((row_num == 1) && ((loop % row_cell_num) != row_cell_right_end_pos))%>
<%#     表示が1行で右端ではない場合                                           %>
<%      set_class = "select-city-one-row"                                     %>
<%#   ----------------------------------------------------------------------- %>
<%    elsif ((row_num == 1) && 
                         ((loop % row_cell_num) == row_cell_right_end_pos))   %>
<%#     表示が1行で右端の場合                                                 %>
<%      set_class = "select-city-one-row-right-end"                           %>
<%#   ----------------------------------------------------------------------- %>
<%    elsif ((loop / row_cell_num) == 0 &&
                           ((loop % row_cell_num) != row_cell_right_end_pos)) %>
<%#     一番上の行で、右端ではない場合                                        %>
<%      set_class = "select-city-multi-row-top"                               %>
<%#   ----------------------------------------------------------------------- %>
<%    elsif((loop / row_cell_num) == 0 && 
                           ((loop % row_cell_num) == row_cell_right_end_pos)) %>
<%#     一番上の行で、右端の場合                                              %>
<%      set_class = "select-city-multi-row-top-right-end"                     %>
<%#   ----------------------------------------------------------------------- %>
<%    elsif(((loop + 1).to_f / row_cell_num.to_f).ceil == row_num &&
                           ((loop % row_cell_num) != row_cell_right_end_pos)) %>
<%#     一番下の行で、右端ではない場合                                        %>
<%      set_class = "select-city-multi-row-bottom"                            %>
<%#   ----------------------------------------------------------------------- %>
<%    elsif(((loop + 1).to_f / row_cell_num.to_f).ceil == row_num &&
                           ((loop % row_cell_num) == row_cell_right_end_pos)) %>
<%#     一番下の行で、右端の場合                                              %>
<%      set_class = "select-city-multi-row-bottom"                            %>
<%#   ----------------------------------------------------------------------- %>
<%    elsif ((loop % row_cell_num) == (row_cell_right_end_pos))               %>
<%#     一番上の行でも下の行でもない場合で、なおかつ右端でもない場合          %>
<%      set_class = "select-city-multi-row-middle-right-end"                  %>
<%#   ----------------------------------------------------------------------- %>
<%    else                                                                    %>
<%#     一番上の行でも下の行でもない場合で、右端の場合                        %>
<%      set_class = "select-city-multi-row-middle"                            %>
<%    end                                                                     %>
<%#   ----------------------------------------------------------------------- %>

        <td class="<%= set_class %>">
          <%= link_to(sub_city.sub_city_name, "#", class: "select-city-btn") %>
        </td>
        
<%    if ((loop % row_cell_num) == (row_cell_num - 1))                        %>
        </tr>
<%    end %>

<%  end %>

<% remain_cell = row_cell_num - (city.sub_cities.count % row_cell_num)        %>
<% if ((remain_cell != 0) && (remain_cell != row_cell_num))                   %>
<%   for loop in 0...remain_cell do                                           %>
<%#   ---------------------------------------------------------               %>
<%     if ((row_num == 1) && (loop != (remain_cell - 1)))                     %>
<%#     表示が1行で右端ではない場合                                           %>
<%       set_class = "select-city-one-row"                                    %>
<%#   ---------------------------------------------------------               %>
<%     elsif ((row_num == 1) && (loop == (remain_cell - 1)))                  %>
<%#     表示が1行で右端の場合                                                 %>
<%       set_class = "select-city-one-row-right-end"                          %>
<%#   ---------------------------------------------------------               %>
<%     elsif ((row_num != 1) && (loop != (remain_cell - 1)))                  %>
<%#     表示が複数行で右端ではない場合                                        %>
<%       set_class = "select-city-multi-row-bottom"                           %>
<%#   ---------------------------------------------------------               %>
<%     elsif ((row_num != 1) && (loop == (remain_cell - 1)))                  %>
<%#     表示が複数行で右端ではない場合                                        %>
<%       set_class = "select-city-multi-row-bottom-right-end"                 %>
<%     end                                                                    %>
<%#   ---------------------------------------------------------               %>
     <td class="<%= set_class %>">-</td>
<%   end %>
     
     </tr>
<% end %>
