<div id="tamesi_area">
  <table>
    <tr>
      <td colspan="3"><%= @name %></td>
      <td colspan="1"><%= link_to "おに入り追加", "#", class:"btn" %></td>
    </tr>
    
    <tr>
      <td rowspan="7"><%= image_tag("hamburger.jpg", size: "50x50")%></td>
      <th>ジャンル</th>
      <td colspan="2"><%= @category_name_l %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>評価</th>
      <td colspan="2">12345</td> <%# 本来は画像を表示 %>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>住所</th>
      <td colspan="2"><%= @address %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>アクセス</th>
      <td colspan="2"><%= @access %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>電話番号</th>
      <td colspan="2"><%= @tel %></td>
    </tr>

    <tr>
      <%# 画像表示部分 %>
      <th>営業時間</th>
      <td colspan="2"><%= @opentime %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>定休日</th>
      <td colspan="2"><%= @holiday %></td>
    </tr>
    
    <tr>
      <td colspan="2"><%= link_to "コメントを見る", "#", class:"btn" %></td>
      <td colspan="2"><%= link_to "コメントを書く", "#", class:"btn" %></td>
    </tr>
    
    <tr>
      <td colspan="4"><%= link_to "ぐるなびページへ", @shop_url, class:"btn" %></td>
    </tr>
    
  </table>  
</div>

<!--<div id="right_side">-->
    
    
<!--</div>-->