<div id="tamesi_area">
  <div class="store-area" class="clearfix">
    <div class="store-top-area clearfix">
      <div class="store-name-area">
        <%= @name %> <br>
        <ul>
        <%  for loop in 1..5 do                                        %>
        <li>
        <%    if (loop <= @review)                                     %>
        <%=     image_tag("meat_color_all.png", class: "review-icon")  %>
        <%    elsif ((loop - 0.5) <= @review)                          %>
        <%=     image_tag("meat_color_half.png", class: "review-icon") %>
        <%    else                                                     %>
        <%=     image_tag("meat_color_none.png", class: "review-icon") %>
        <%    end                                                      %>
        </li>
        <%  end                                                        %>
        
        <li class="review-point_area"><%= @review %></li>
        </ul>
      </div>
      <div id="bookmark-area">
        <%= link_to "お気に入り追加", "#", class:"btn" %>
        <br>
        ジャンル：<%= @category_name_l %> <br>
      </div>
    </div>
    
    <div class="store-content-area clearfix">
      <div class="store-image-area">
        <%= image_tag("hamburger.jpg", class: "img-param") %>
      </div>
      
      <div class="store-info-area">
        <table>
          <tr>
            <th>住所</th>
            <td><%= simple_format(@adress) %></td>
          </tr>
          
          <tr>
            <th>アクセス</th>
            <td><%= simple_format(@access) %></td>
          </tr>
          
          <tr>
            <th>電話番号</th>
            <td><%= simple_format(@tel) %></td>
          </tr>
          
          <tr>
            <th>営業時間</th>
            <td><%= simple_format(@opentime) %></td>
          </tr>
          
          <tr>
            <th>定休日</th>
            <td><%= simple_format(@holiday) %></td>
          </tr>
        </table>
      </div> <!-- store-info-area -->
    </div> <!-- store-content-area -->
    
    <div class="store-bottom-area clearfix">
      <ul>
        <li><%= link_to "コメントを見る"  , "#", class: "btn" %></li>
        <li><%= link_to "コメントを書く"  , "#", class: "btn" %></li>
        <li><%= link_to "ぐるなびページへ", @shop_url, class: "btn", target: "_blank" %></li>
      </ul>
    </div> <!-- store-bottom-area -->
  </div> <!-- store-area -->
</div> <!-- tamesi_area -->

<div id="map_area" class="img-param">
  <%= image_tag("google_map_yelp_site.jpg") %>
</div>


<% if false %>
<div></div>
  <table>
    <tr>
      <td colspan="2"><%= @name %></td>
      <td colspan="1"><%= link_to "お気に入り追加", "#", class:"btn" %></td>
    </tr>
    
    <tr>
      <td rowspan="3"><%= image_tag("hamburger.jpg", size: "50x50")%></td>
      <th>ジャンル</th>
      <td><%= @category_name_l %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>評価</th>
      <td>12345</td> <%# 本来は画像を表示 %>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>電話番号</th>
      <td colspan="2"><%= @tel %></td>
    </tr>
    
    <tr>
      <th>住所</th>
      <td colspan="2"><%= @address %></td>
    </tr>
    
    <tr>
      <th>アクセス</th>
      <td colspan="2"><%= @access %></td>
    </tr>
  
    <tr>
      <th>営業時間</th>
      <td colspan="2"><%= @opentime %></td>
    </tr>
    
    <tr>
      <th>定休日</th>
      <td colspan="2"><%= @holiday %></td>
    </tr>
    
    <tr>
      <td><%= link_to "コメントを見る", "#", class:"btn" %></td>
      <td><%= link_to "コメントを書く", "#", class:"btn" %></td>
      <td colspan="4"><%= link_to "ぐるなびページへ", @shop_url, class:"btn" %></td>
    </tr>
  </table>
  
  
  <br><br><br>
  
  <table>
    <tr>
      <td colspan="2"><%= @name %></td>
      <td colspan="1"><%= link_to "お気に入り追加", "#", class:"btn" %></td>
    </tr>
    
    <tr>
      <td rowspan=3><%= image_tag("hamburger.jpg", size: "50x50")%></td>
      <th>ジャンル</th>
      <td><%= @category_name_l %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>評価</th>
      <td>12345</td> <%# 本来は画像を表示 %>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>電話番号</th>
      <td><%= @tel %></td>
    </tr>
    
    <tr>
      <th width="100">住所</th>
      <td colspan="2"><%= @address %></td>
    </tr>
    
    <tr>
      <th width="150">アクセス</th>
      <td colspan="2"><%= @access %></td>
    </tr>
  
    <tr>
      <th>営業時間</th>
      <td colspan="2"><%= simple_format(@opentime) %></td>
    </tr>
    
    <tr>
      <th>定休日</th>
      <td colspan="2"><%= simple_format(@holiday) %></td>
    </tr>
    
    <tr>
      <td><%= link_to "コメントを見る", "#", class:"btn" %></td>
      <td><%= link_to "コメントを書く", "#", class:"btn" %></td>
      <td colspan="4"><%= link_to "ぐるなびページへ", @shop_url, class:"btn" %></td>
    </tr>
  </table>
  
  <br><br>
  
  
  <table>
    <tr>
      <td><%= @name %></td>
      <td><%= link_to "お気に入り追加", "#", class:"btn" %></td>
      <td>ああ</td>
    </tr>
    
    <tr>
      <td rowspan=3><%= image_tag("hamburger.jpg", size: "50x50")%></td>
      <th>ジャンル</th>
      <td><%= @category_name_l %></td>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>評価</th>
      <td>12345</td> <%# 本来は画像を表示 %>
    </tr>
    
    <tr>
      <%# 画像表示部分 %>
      <th>電話番号</th>
      <td><%= @tel %></td>
    </tr>
    
    <tr>
      <th width="100">住所</th>
      <td><%= @address %></td>
    </tr>
    
    <tr>
      <th width="150">アクセス</th>
      <td><%= @access %></td>
    </tr>
  
    <tr>
      <th>営業時間</th>
      <td><%= simple_format(@opentime) %></td>
    </tr>
    
    <tr>
      <th>定休日</th>
      <td><%= simple_format(@holiday) %></td>
    </tr>
    
    <tr>
      <td><%= link_to "コメントを見る", "#", class:"btn" %></td>
      <td><%= link_to "コメントを書く", "#", class:"btn" %></td>
      <td><%= link_to "ぐるなびページへ", @shop_url, class:"btn" %></td>
    </tr>
  </table>
  
</div>

<div id="map_area">
  <%= image_tag("google_map_yelp_site.jpg") %>
</div>

<!--<div id="right_side">-->
    
    
<!--</div>-->
<% end %> <%# if false %>