<div id="main_panel">
  <%# APIから取得した画像の表示 %>
  <% @stores.each do |store| %>
    <%= render(partial: "layouts/store_info_disp", locals: {store: store}) %>
  <% end %> <%# @stores.each %>
</div> <!-- main_panel -->

<div id="side_bar">
  <div id="side_bar_area">
    <div id="side_bar_top">
      <div id="input_serach_area_disp">検索地域：<%= @area %></div>
      <div id="search_count_disp_area"><%= @search_count %> 店舗</div><br><br>
      <%= page_entries_info @stores %>
      <%= paginate @stores %>
    </div> <!-- side_bar_top -->
    
    <div id="side_bar_bottom">
      <%# JSPにより、Google Mapが表示 %>
    </div>
    
  </div>
</div>  <!-- side_bar_top -->

<script type="text/javascript">
  $(function(){
    $('side_bar_area').css('width', $('side_bar').width());
    
    $('#side_bar_top').css('width', $('#side_bar').width());
    
    $('#map_area').css('width', $('#side_bar').width());
  });
 
  handler = Gmaps.build('Google');
  handler.buildMap({provider: {mapTypeControl: false}, internal: {id:'side_bar_bottom'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    
    handler.getMap().getDiv().style.borderRadius = '10px'
    
    $.each(markers, function(index, marker){
      google.maps.event.addListener(marker.getServiceObject(), "mouseover", function(){
        this.setIcon('/assets/steak.png');
      });
      
      google.maps.event.addListener(marker.getServiceObject(), "mouseout", function(){
        this.setIcon('/assets/raw_meat.png');
      });
      
      google.maps.event.addListener(marker.getServiceObject(), "click", function(){
        var target = $("[id^='store_area_']").eq(index);
        
        var position = target.offset().top - 50;
        
        $("body,html").animate({scrollTop:position}, 400, "swing");
      });
    })
  });
  
  // /* 各マーカーにz-index値を設定（マーカーの重なりがある時のため） */
  // for (var loop1 = 0; loop1 < markers.length; loop1++){
  //   markers[loop1].getServiceObject().setZIndex(loop1);
  // }
  
  $("[id^='store_area_']").mouseover(function(){
    var index = $("[id^='store_area_']").index(this);
    var marker = markers[index];
    
    marker.getServiceObject().setIcon('/assets/steak.png');
    
    $(this).css("background", "orange");
  });
  
  $("[id^='store_area_']").mouseout(function(){
    var index = $("[id^='store_area_']").index(this);
    var marker = markers[index];
    
    marker.getServiceObject().setIcon('/assets/raw_meat.png');
    
    $(this).css("background", "rgb(91, 155, 213)");
  });
</script>
