<script type="text/javascript">
  $(window).load(function(){
    // 各変数の初期化
    var img_disp_areas = $('.store-image-area'); // 画像表示領域のオブジェクト
    var img_areas_num = img_disp_areas.length; //処理を行う領域数

    // 料理画像の表示処理についての初期化
    //   [1] 各画像領域の確保（設定）
    //   [3] 各画像領域に1枚画像を表示
    (function(){
      // [1] 各画像領域の確保（高さを設定）
      //     ※  画像領域に対し、「position: relative」を設定したことにより、
      //         高さがない状態となっている。
      //         これにより、「画像の表示サイズ（高さ） ＞ 店舗情報欄」の場合、
      //         画像表示のレイアウトが崩れてしまう。 
      for (var loop1 = 0; loop1 < img_areas_num; loop1++){
        
        // 画像の表示サイズ（高さ）を取得
        var img_disp_area = img_disp_areas.eq(loop1);
        var img_height = img_disp_area.find('img').eq(0).height();
        
        // 店舗情報欄の高さを取得
        var store_table_area = $('.store-info-area table').eq(loop1);
        var table_height = store_table_area.height();
        
        //  「店舗情報欄 ＜ 画像の表示サイズ（高さ）」の場合のみ、店舗情報欄の
        //   高さを更新し、画像表示領域の確保を行う
        if (table_height < img_height){
          store_table_area.height(img_height);
        }
      }
      
      // [2] 各画像領域に1枚画像を表示
      //     （複数重なっている表示している画像を1枚のみ表示）
      //　 1.  一旦、全ての料理画像を非表示
      //   2.  各領域1枚のみ画像を表示（表示する画像を一番最初の画像）
      $('.store-image-area').find('img').css('display', 'none');
      for (var loop1 = 0; loop1 < img_areas_num; loop1++){
        img_disp_areas.eq(loop1).find('img').eq(0).css('display', 'block');
      }
      
    })();
    
    
    // 料理画像をスライドで表示 
    (function(){
      var current_img_no = new Array(img_areas_num).fill(0);
      
      
      // スライド表示処理
      function changeSlides(imgs, img_num, img_area_no){
        // 次の表示画像の番号を求める
        var next_img_no = current_img_no[img_area_no] + 1;
        if (next_img_no >= img_num){
          next_img_no = 0;
        }
        
        imgs.eq(current_img_no[img_area_no]).fadeOut(2000);
        imgs.eq(next_img_no).fadeIn(2000);
        
        // 表示画像の番号を更新
        current_img_no[img_area_no] = next_img_no;
      }
      
      // ====================================================================
      // 　料理画像の各表示領域について、画像を切り替える間隔の設定や、
      //   各表示領域に用意されている画像枚数を取得
      // =========================== begin ==================================
      
      // 各変数を宣言
      var interval_msec = new Array(img_areas_num); // スライド表示する間隔
      var areas_imgs = new Array(img_areas_num); // 各領域に対しての複数枚の画像
      var areas_imgs_num = new Array(img_areas_num); // 各領域に用意されている画像枚数
      
      // 各情報を設定
      for (var loop1 = 0; loop1 < img_areas_num; loop1++){
        // スライド表示する間隔を設定（各領域の間隔は乱数により3～6秒に設定）
        interval_msec[loop1] = Math.floor((Math.random() * (6 - 3) + 3) * 1000);
        
        // 各領域の画像オブジェクトを取得
        areas_imgs[loop1] = img_disp_areas.eq(loop1).find('img');
        
        // 各領域に用意されている画像枚数を取得
        areas_imgs_num[loop1] = areas_imgs[loop1].length;
      }
      // ============================ end ===================================
      
      // スライド表示関数を呼び出し
      for (var loop1 = 0; loop1 < img_areas_num; loop1++){
        if (areas_imgs_num[loop1] == 1){
          continue;
        }
        (function(area_no){
          setInterval(function(){changeSlides(
            areas_imgs[area_no],
            areas_imgs_num[area_no],
            area_no)},
            interval_msec[area_no]);
        })(loop1);
      }
    })();
  });
</script>


<div id="main_panel">
  <% @stores.each do |store| %>
    <div class="store-area" class="clearfix">
      <div class="store-top-area clearfix">
        <div class="store-name-area">
          <%= store.name %> <br>
          <ul>
          <%  for loop in 1..5 do                                        %>
          <li>
          <%    if (loop <= store.review)                                %>
          <%=     image_tag("meat_color_all.png", class: "review-icon")  %>
          <%    elsif ((loop - 0.5) <= store.review)                     %>
          <%=     image_tag("meat_color_half.png", class: "review-icon") %>
          <%    else                                                     %>
          <%=     image_tag("meat_color_none.png", class: "review-icon") %>
          <%    end                                                      %>
          </li>
          <%  end                                                        %>
          
          <li class="review-point_area"><%= store.review %></li>
          </ul>
        </div>
        <div id="bookmark-area">
          <%= link_to "お気に入り追加", "#", class:"btn" %>
          <br>
          ジャンル：<%= store.category_name_l %> <br>
        </div>
      </div>
      
      <div class="store-content-area clearfix">
        
        <%# 料理画像表示部分 %>
        <div class="store-image-area">
          <% store.food_images.each do |image| %>
            <%= image_tag("store_img/#{image.image_url}", class: "img-param") %>
          <% end %>
        </div>
        
        <%# ========================================================= %>
        <%#                     店舗情報表示部分                      %>
        <%# ========================= begin ========================= %>
        <div class="store-info-area">
          <table>
            <tr>
              <th>住所</th>
              <td><%= simple_format(store.address) %></td>
            </tr>
            
            <tr>
              <th>アクセス</th>
              <% access = "#{store.line} #{store.station} #{store.station_exit} \
              徒歩#{store.walk}分" %>
              
              <td><%= simple_format(access) %></td>
            </tr>
            
            <tr>
              <th>電話番号</th>
              <td><%= simple_format(store.tel) %></td>
            </tr>
            
            <tr>
              <th>営業時間</th>
              <td><%= simple_format(store.opentime) %></td>
            </tr>
            
            <tr>
              <th>定休日</th>
              <td><%= simple_format(store.holiday) %></td>
            </tr>
          </table>
        </div> <!-- store-info-area -->
        <%# ========================== end ========================== %>
        
      </div> <!-- store-content-area -->
      
      <div class="store-bottom-area clearfix">
        <ul>
          <li><%= link_to "コメントを見る"  , "#", class: "btn" %></li>
          <li><%= link_to "コメントを書く"  , "#", class: "btn" %></li>
          <li><%= link_to "ぐるなびページへ", store.shop_url, \
                                 class: "btn", target: "_blank" %></li>
        </ul>
      </div> <!-- store-bottom-area -->
    </div> <!-- store-area -->
  <% end %> <%# @stores.each %>
</div> <!-- main_panel -->

<div id="side_bar">
  <div id="side_bar_area">
    <div id="side_bar_top">
      <div id="input_serach_area_disp">検索地域：<%= @area %></div>
      <div id="search_count_disp_area"><%= @search_count %> 店舗</div><br><br>
      <%= page_entries_info @stores %>
      <%= paginate @stores %>
    </div> <!-- side_bar_top -->
    
    <div id="side_bar_bottom">
      <%# JSPにより、Google Mapが表示 %>
    </div>
    
  </div>
</div>  <!-- side_bar_top -->

<script type="text/javascript">
  $(function(){
    $('side_bar_area').css('width', $('side_bar').width());
    
    $('#side_bar_top').css('width', $('#side_bar').width());
    
    $('#map_area').css('width', $('#side_bar').width());
    
    
  });
 
  handler = Gmaps.build('Google');
  handler.buildMap({provider: {mapTypeControl: false}, internal: {id:'side_bar_bottom'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    
    handler.getMap().getDiv().style.borderRadius = '10px'
    
    $.each(markers, function(index, marker){
      google.maps.event.addListener(marker.getServiceObject(), "mouseover", function(){
        this.setIcon('/assets/steak.png');
      });
      
      google.maps.event.addListener(marker.getServiceObject(), "mouseout", function(){
        this.setIcon('/assets/raw_meat.png');
      });
      
      google.maps.event.addListener(marker.getServiceObject(), "click", function(){
        var target = $('.store-area').eq(index);
        
        var position = target.offset().top - 50;
        
        $("body,html").animate({scrollTop:position}, 400, "swing");
      });
    })
  });

  $('.store-area').mouseover(function(){
    var index = $('.store-area').index(this);
    var marker = markers[index];
    
    marker.getServiceObject().setIcon('/assets/steak.png');
    
    $(this).css("background", "orange");
  });
  
  $('.store-area').mouseout(function(){
    var index = $('.store-area').index(this);
    var marker = markers[index];
    
    marker.getServiceObject().setIcon('/assets/raw_meat.png');
    
    $(this).css("background", "rgb(91, 155, 213)");
  });
  
</script>
