<div id="show_review_vote_<%= review.vote_id %>">
  <div class="show-review-store-title" class="clearfix">
    <%= review.store.name %>
  </div> <!-- "show-review-store-title" -->

  <div class="show-review-menu-name">
    <%= review.menu_name %>
  </div> <!-- show-review-menu-name -->

  <div class="show-review-score">
    <ul>
<%    for loop in 1..5 do                                                     %>
        <li>
<%        if (loop <= review.total_score)                                     %>
<%=         image_tag("meat_color_all.png", class: "review-icon")             %>
<%        elsif ((loop - 0.5) <= review.total_score)                          %>
<%=         image_tag("meat_color_half.png", class: "review-icon")            %>
<%        else                                                                %>
<%=         image_tag("meat_color_none.png", class: "review-icon")            %>
<%        end                                                                 %>
        </li>
<%    end                                                                     %>
         
        <li class="show-review-point"><%= review.total_score %></li>
    </ul> 
  </div> <!-- show-review-score -->

  <div class="show-review-content clearfix">
    
    <div class="show-review-content-left-side clearfix">
<%    if (review.food_image != nil)                                           %>
        <div class="show-review-image">
<%=       image_tag("store_img/#{review.food_image.image_url}",
                                            class: "img-param")               %>
        </div>
<%    end                                                                     %>
    </div> <!-- show-review-content-left-side -->
  
    <div class="show-review-right-side">
      <div class="show-review-comment">
<%=     review.comment                                                        %>
      </div> <!-- show-review-comment -->
      <br><br>
      
      <div class="show-review-date">
<%=     review.updated_at.strftime("%Y年%m月%d日")                            %>
      </div> <!-- show-review-date -->
    </div> <!-- show-review-right-side -->
    
  </div> <!-- show-review-content -->

  <div class="show-review-footer">
    <ul>
      <li><%= link_to("口コミを編集",
               "/reviews/#{review.store_id}/#{review.vote_id}/edit",
               class: "btn") %></li>
      <li><%= link_to("口コミを削除", "#",  class: "btn review_delete_btn") %></li>
      <li class="target_store_all_review"><%= link_to("この店舗の口コミをすべて見る", 
        "/reviews/#{review.store.store_id}", class: "btn", target: "blank") %></li>
    </ul>
  </div> <!-- show-review-footer -->
  
</div> <!-- review_XX -->

