<div id="login_form">
  <div id="login_form_title">ログイン情報を入力してください。</div>
  <%  if (flash)                         %>
        <ul class="blue_font">
  <%      flash.each do |key, message| %>
            <li> <%= message %> </li>
  <%      end                          %>
        </ul>
  <%  end                                %>
  
  <%= form_tag("/users/login") do %>
    <div class="user-form-element">
      <%= label_tag(:user_id, "　ユーザID") %>
      <br>
      <%= text_field_tag(:user_id, @user_id, class: 'user-input-element') %>
    </div>
    
    <div class="user-form-element">
      <%= label_tag(:password, "パスワード") %>
      <br>
      <%= password_field_tag(:password, "", class: "user-input-element")      %>
    </div> <!-- user-form-element -->
    
    <%= submit_tag("ログイン", id: "user_form_button") %>
  <% end %>
</div>

<div id="new_account_link">
  <%= link_to("まだアカウントを作成ではない方はこちら", "/users/new") %>
</div>