<div id="bookmark_modal">
  <div id="bookmark_modal_title"><span></span></div>
  
  <div id="bookmark_modal_select_area">
    この店舗をお気に入りから削除しますか？<br>
    <ul>
      <li><%= link_to "削除", "#", method: :delete, remote: true,
                                   id: "bookmark_delete_btn", class:"btn blue_font" %></li>
      <li><%= link_to("キャンセル", "#", id: "modal_window_close_btn", class: "btn") %></li>
    </ul>
  </div>
</div>

<div id="review_modal">
  <div id="review_modal_select_area">
    この口コミを削除しますか？<br>
    <ul>
      <li><%= link_to("削除", "#", method: :delete,
                                   id: "review_delete_btn", class:"btn blue_font") %></li>
      <li><%= link_to("キャンセル", "#", id: "modal_window_close_btn", class: "btn") %></li>
    </ul>
  </div> <!-- review_modal_select -->
  
  <div id="review_modal_info_disp">
    
  </div>
</div>
  
<div id="mypage_title">
  マイページ
</div>
<div id="main_panel">
  <div id="bookmark_area">
    <div id="bookmark_title">
      お気に入り店舗一覧
    </div> <!-- bookmark_title -->
    <%  @user.bookmark_stores.each do |bookmark_store|                                      %>
    <%=   render partial: "layouts/store_info_disp", locals: {store: bookmark_store.store}  %>
    <%  end                                                                                 %>
  </div> <!-- bookmark_area -->
  
  <div id="show_review_area">
    <div id="show_review_title">
      投稿口コミ一覧
    </div>
    
    <% @user.input_reviews.each do |input_review| %>
      <%= render partial: "/users/review_disp", locals:{input_review: input_review} %>
    <% end %>
    
  </div> <!-- show_review_area -->
</div> <!-- main_panel -->

<div id="side_bar">
  <div id="user_info">
    <div id="user_id_disp">
      <%= @user.user_id %> さん
    </div>
    
    <div class="user_info_element">
      <div class="user_info_element_title">
        お気に入り店舗
      </div>
      
      <div id="bookmark_count_disp", class="user_info_element_count">
        <%= @user.bookmark_stores.count %> 店舗
      </div>
    </div>
    
    <div class="user_info_element">
      <div class="user_info_element_title">
        口コミ数
      </div>
      <div id="review_count_disp",class="user_info_element_count">
        <%= @user.input_reviews.count %> 件
      </div>
    </div>
    
    <div id="user_info_navi">
      <ul>
        <li><%= link_to("ログアウト", "/users/logout", method: "post") %></li>
        <li><%= link_to("パスワード変更", "/users/#{@user.user_id}/edit") %></li>
        <li><%= link_to("アカウント削除", "/users/#{@user.user_id}/delete_confirm") %></li>
      </ul>
    </div>
  </div>
</div>

<%# 口コミの削除により、お気に入り店舗の評価値を修正する場合があるため、
    非表示でページ中に読み込ませる                                            %>
<div id="mypage_store_img">
  <%= image_tag("meat_color_all.png",  class: "review-icon") %>
  <%= image_tag("meat_color_half.png", class: "review-icon") %>
  <%= image_tag("meat_color_none.png", class: "review-icon") %>
</div>

