<div id="store_area_<%= store.store_id %>" class="clearfix">
  <div class="store-top-area clearfix">
    <div class="store-header-left">
      <div class="store-name-area">
        <%= store.name %> <br>
      </div>
      
      <div class="store-review-area">
        <ul>
        <%  for loop in 1..5 do                                        %>
        <li>
        <%    if (loop <= store.review)                                %>
        <%=     image_tag("meat_color_all.png", class: "review-icon")  %>
        <%    elsif ((loop - 0.5) <= store.review)                     %>
        <%=     image_tag("meat_color_half.png", class: "review-icon") %>
        <%    else                                                     %>
        <%=     image_tag("meat_color_none.png", class: "review-icon") %>
        <%    end                                                      %>
        </li>
        <%  end                                                        %>
        
        <li class="review-point_area"><%= store.review %></li>
        </ul>
      </div>
    </div>  <!-- store_header_left -->
    <%# 「お気に入り」ボタンは店舗検索ページのみ表示（マイページでは表示しない）    %>
    <div class="store-header-right bookmark-area">
    <% if (controller.controller_name == "gourmet_sites")                           %>
    
    <%  # ログインしていない場合(@user == nil)は、「お気に入り追加」ボタンを表示    %>
    <%   if (@user == nil ||  
             @user.bookmark_stores.find_by(store_id: store.store_id) == nil)        %>
    <%=    link_to "お気に入り追加", "/gourmet_sites/bookmark/#{store.store_id}", 
                                          method: :post, remote: true,
                                          class:"btn blue_font"                     %>
    <%   else                                                                       %>
    <%=    link_to "お気に入り店舗", "/gourmet_sites/bookmark/#{store.store_id}", 
                                            method: :delete, remote: true, 
                                            class:"btn red_font"                    %>
    <%   end # if(@users == nil) ||                                                 %>
    <% else                                                                         %>
    <%=   link_to "お気に入り削除", "#", class:"btn red_font"                       %>
    <% end #if (controller.controller_name == "goumet_sites")                       %>
    </div>
    
    <div class="genre-area">
      ジャンル：<%= store.category_name_l %>
    </div>
    
  </div>  <!-- store-top-area -->
  
  <div class="store-content-area clearfix">
    
    <%# 料理画像表示部分 %>
    <div class="store-image-area">
      <%# APIから取得したURLの画像を表示 %>
      <% store.food_images.each do |image| %>
        <%= image_tag("/application/get_img/#{image.id}", class: "img-param") %>
      <% end %>
      
      <%# 各ユーザが投稿した画像を表示 %>
      <% store.input_reviews.each do |input_review|           %>
      <%#  画像なしでも口コミを投稿できるため                 %>
      <%   if (input_review.image_url == nil)                 %>
      <%     next                                             %>
      <%   end                                                %>
      <%                                                      %>
      <%=  image_tag(input_review.image, class: "img-param")  %>
      <% end                                                  %>
    </div>
    
    <%# ========================================================= %>
    <%#                     店舗情報表示部分                      %>
    <%# ========================= begin ========================= %>
    <div class="store-info-area">
      <table>
        <tr>
          <th>住所</th>
          <td><%= simple_format(store.address) %></td>
        </tr>
        
        <tr>
          <th>アクセス</th>
          <% access = "#{store.line} #{store.station} #{store.station_exit} \
          徒歩#{store.walk}分" %>
          
          <td><%= simple_format(access) %></td>
        </tr>
        
        <tr>
          <th>電話番号</th>
          <td><%= simple_format(store.tel) %></td>
        </tr>
        
        <tr>
          <th>営業時間</th>
          <td><%= simple_format(store.opentime) %></td>
        </tr>
        
        <tr>
          <th>定休日</th>
          <td><%= simple_format(store.holiday) %></td>
        </tr>
      </table>
    </div> <!-- store-info-area -->
    <%# ========================== end ========================== %>
    
  </div> <!-- store-content-area -->
  
  <div class="store-bottom-area clearfix">
    <ul>
      <li><%= link_to "口コミを見る"  , "/reviews/#{store.store_id}",
                                        class: "btn", target: "blank" %></li>
      <li><%= link_to "口コミを書く"  , "/reviews/#{store.store_id}/new",
                                        class: "btn" %></li>
      <li><%= link_to "ぐるなびページへ", store.shop_url, \
                             class: "btn", target: "_blank" %></li>
    </ul>
  </div> <!-- store-bottom-area -->
</div> <!-- store-area -->